<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Simple PHP Web Server</string>
	<key>CFBundleIdentifier</key>
	<string>de.futural.simplephpwebserver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleExecutable</key>
	<string>Simple PHP Web Server</string>
	<key>CFBundleDisplayName</key>
	<string>Simple PHP Web Server</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>CFBundleIconFile</key>
	<string>appIcon.icns</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8.0</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMessage</key>
			<string>dropService</string>
			<key>NSPortName</key>
			<string>Simple PHP Server</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Process with Simple PHP Server</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2015 Jannis Rondorf</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
</dict>
</plist>
